<?xml version="1.0" encoding="utf-8"?>
<!--Simulation Scenario-->
<Scenario>
    <SpaceSegment>
<!--			    <Constellation>-->
<!--		  <NumOfPlanes>3</NumOfPlanes>-->
<!--		  <NumOfSatellites>30</NumOfSatellites>-->
<!--		  <ConstellationID>1</ConstellationID>-->
<!--		  <ConstellationName>Galileo</ConstellationName>-->
<!--			<ReceiverConstellation>1111</ReceiverConstellation>-->

<!--		  <Satellite>-->
<!--		    <SatelliteID>1</SatelliteID>-->
<!--		    <Plane>1</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>0</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>0</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>2</SatelliteID>-->
<!--		    <Plane>1</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>0</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>36</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>3</SatelliteID>-->
<!--		    <Plane>1</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>0</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>72</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>4</SatelliteID>-->
<!--		    <Plane>1</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>0</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>108</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>5</SatelliteID>-->
<!--		    <Plane>1</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>0</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>144</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>6</SatelliteID>-->
<!--		    <Plane>1</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>0</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>180</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>7</SatelliteID>-->
<!--		    <Plane>1</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>0</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>216</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>8</SatelliteID>-->
<!--		    <Plane>1</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>0</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>252.00</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>9</SatelliteID>-->
<!--		    <Plane>1</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>0</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>288.00</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>10</SatelliteID>-->
<!--		    <Plane>1</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>0</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>324.00</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>11</SatelliteID>-->
<!--		    <Plane>2</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>120.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>12</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>12</SatelliteID>-->
<!--		    <Plane>2</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>120.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>48</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>13</SatelliteID>-->
<!--		    <Plane>2</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>120.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>84</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>14</SatelliteID>-->
<!--		    <Plane>2</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>120.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>120</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>15</SatelliteID>-->
<!--		    <Plane>2</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>120.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>156</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>16</SatelliteID>-->
<!--		    <Plane>2</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>120.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>192</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>17</SatelliteID>-->
<!--		    <Plane>2</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>120.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>228</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>18</SatelliteID>-->
<!--		    <Plane>2</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>120.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>264</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>19</SatelliteID>-->
<!--		    <Plane>2</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>120.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>300</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>20</SatelliteID>-->
<!--		    <Plane>2</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>120.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>336</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>21</SatelliteID>-->
<!--		    <Plane>3</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>240.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>24</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>22</SatelliteID>-->
<!--		    <Plane>3</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>240.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>60</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>23</SatelliteID>-->
<!--		    <Plane>3</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>240.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>96</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>24</SatelliteID>-->
<!--		    <Plane>3</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>240.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>132</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>25</SatelliteID>-->
<!--		    <Plane>3</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>240.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>168</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>26</SatelliteID>-->
<!--		    <Plane>3</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>240.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>204</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>27</SatelliteID>-->
<!--		    <Plane>3</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>240.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>240</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>28</SatelliteID>-->
<!--		    <Plane>3</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>240.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>276</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>29</SatelliteID>-->
<!--		    <Plane>3</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>240.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>312</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		  <Satellite>-->
<!--		    <SatelliteID>30</SatelliteID>-->
<!--		    <Plane>3</Plane>-->
<!--		    <EpochMJD>54465.5</EpochMJD>-->
<!--		    <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--		    <Eccentricity>0.00</Eccentricity>-->
<!--		    <Inclination>56.00</Inclination>-->
<!--		    <RAAN>240.00</RAAN>-->
<!--		    <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--		    <MeanAnomaly>348</MeanAnomaly>-->
<!--		  </Satellite>-->
<!--		</Constellation>-->

	    <Constellation>
			<NumOfPlanes>1</NumOfPlanes>
			<NumOfSatellites>2</NumOfSatellites>
			<ConstellationID>2</ConstellationID>
			<ConstellationName>S1-NG</ConstellationName>
		    <ReceiverConstellation>1111</ReceiverConstellation>
			<ObsSwathStart>255000.0</ObsSwathStart>
			<ObsSwathStop>655000.0</ObsSwathStop>
			<Satellite>
				<SatelliteID>1</SatelliteID>
				<Plane>1</Plane>
				<EpochMJD>54465.0</EpochMJD>
				<SemiMajorAxis>7081289</SemiMajorAxis>
				<Eccentricity>0.00</Eccentricity>
				<Inclination>98.157</Inclination>
				<RAAN>188.934</RAAN>
				<ArgOfPerigee>0.00</ArgOfPerigee>
				<MeanAnomaly>0</MeanAnomaly>
			</Satellite>
			<Satellite>
				<SatelliteID>2</SatelliteID>
				<Plane>1</Plane>
				<EpochMJD>54465.0</EpochMJD>
				<SemiMajorAxis>7081289</SemiMajorAxis>
				<Eccentricity>0.00</Eccentricity>
				<Inclination>98.157</Inclination>
				<RAAN>188.934</RAAN>
				<ArgOfPerigee>0.00</ArgOfPerigee>
				<MeanAnomaly>180</MeanAnomaly>
			</Satellite>
        </Constellation>
<!--    <Constellation>-->
<!--        <ConstellationID>1</ConstellationID>-->
<!--        <NumOfSatellites>1</NumOfSatellites>-->
<!--        <NumOfPlanes>1</NumOfPlanes>-->
<!--        <ConstellationName>METOPA</ConstellationName>-->
<!--        <ReceiverConstellation>1111</ReceiverConstellation>-->
<!--        <TLEFileName>../input/example_tle_files/metop_a.txt</TLEFileName>-->
<!--&lt;!&ndash;		<ObsSwathStart>250000.0</ObsSwathStart>&ndash;&gt;-->
<!--&lt;!&ndash;		<ObsSwathStop>650000.0</ObsSwathStop>&ndash;&gt;-->
<!--		<ObsInclinationAngleStart>20.0</ObsInclinationAngleStart>-->
<!--		<ObsInclinationAngleStop>46.0</ObsInclinationAngleStop>-->
<!--    </Constellation>-->

	</SpaceSegment>
	<!--Defines the ground stations that should be simulated-->
	<GroundSegment>
      <NumStation>1</NumStation>
      <NetworkName>RIMS</NetworkName>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>1</GroundStationID>
        <GroundStationName>ALB</GroundStationName>
        <Latitude>57.10</Latitude>
        <Longitude>9.90</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>111</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
	</GroundSegment>
  <!--Defines the users that should be simulated-->
	<UserSegment>
        <User>
            <Type>Grid</Type>
            <LatMin>-90</LatMin>
            <LatMax>90</LatMax>
            <LonMin>-180</LonMin>
            <LonMax>180</LonMax>
            <LatStep>1</LatStep>
            <LonStep>1</LonStep>
            <Height>0.0</Height>
            <ReceiverConstellation>111</ReceiverConstellation>
            <ElevationMask>5.0</ElevationMask>
        </User>
<!--        <User>-->
<!--            <Type>Grid</Type>-->
<!--            <LatMin>-90</LatMin>-->
<!--            <LatMax>-60</LatMax>-->
<!--            <LonMin>-180</LonMin>-->
<!--            <LonMax>180</LonMax>-->
<!--            <LatStep>1</LatStep>-->
<!--            <LonStep>1</LonStep>-->
<!--            <Height>0.0</Height>-->
<!--            <ReceiverConstellation>1111</ReceiverConstellation>-->
<!--            <ElevationMask>5.0</ElevationMask>-->
<!--        </User>-->
<!--        <User>-->
<!--            <Type>Grid</Type>-->
<!--            <LatMin>60</LatMin>-->
<!--            <LatMax>90</LatMax>-->
<!--            <LonMin>-180</LonMin>-->
<!--            <LonMax>180</LonMax>-->
<!--            <LatStep>1</LatStep>-->
<!--            <LonStep>1</LonStep>-->
<!--            <Height>0.0</Height>-->
<!--            <ReceiverConstellation>1111</ReceiverConstellation>-->
<!--            <ElevationMask>5.0</ElevationMask>-->
<!--        </User>-->
<!--        <User>-->
<!--            <Type>Static</Type>-->
<!--            <Latitude>50</Latitude>-->
<!--            <Longitude>10</Longitude>-->
<!--            <Height>0</Height>-->
<!--            <ReceiverConstellation>111</ReceiverConstellation>-->
<!--            <ElevationMask>5</ElevationMask>-->
<!--        </User>-->
<!--        <User>-->
<!--            <Type>Spacecraft</Type>-->
<!--            <TLEFileName>input/example_tle_files/Iridium_20100505_one_satellite.txt</TLEFileName>-->
<!--            <ElevationMask>5.0</ElevationMask>-->
<!--            <ReceiverConstellation>111</ReceiverConstellation>-->
<!--        </User>-->


    </UserSegment>

	<!--Defines the simulation parameters-->
	<SimulationManager>
	    <StartDate>2010-05-08 00:00:00</StartDate>
	    <StopDate>2010-05-09 00:00:00</StopDate>
	    <TimeStep>10</TimeStep>

		<IncludeStation2SpaceLinks>True</IncludeStation2SpaceLinks>
		<IncludeUser2SpaceLinks>False</IncludeUser2SpaceLinks>
		<IncludeSpace2SpaceLinks>False</IncludeSpace2SpaceLinks>

        <OrbitsFromPreviousRun>False</OrbitsFromPreviousRun>
        <OrbitPropagator>Keplerian</OrbitPropagator>

        <Analysis>
			<Type>com_gr2sp_budget</Type>
	        <GroundStationID>1</GroundStationID>
	        <TransmitterObject>Satellite</TransmitterObject>
	        <CarrierFrequency>10e9</CarrierFrequency>
	        <TransmitPowerW>10</TransmitPowerW>
	        <TransmitLossesdB>2</TransmitLossesdB>
	        <TransmitGaindB>20</TransmitGaindB>
	        <PExceedPerc>0.1</PExceedPerc>
	        <IncludeGas>True</IncludeGas>
	        <IncludeRain>True</IncludeRain>
	        <IncludeScintillation>False</IncludeScintillation>
	        <IncludeClouds>False</IncludeClouds>
	        <ReceiveGaindB>20</ReceiveGaindB>
	        <ReceiveLossesdB>2</ReceiveLossesdB>
	        <ReceiveTempK>290</ReceiveTempK>
	        <ModulationType>BPSK</ModulationType>
	        <BitErrorRate>1e-5</BitErrorRate>
	        <DataRateBitPerSec>1e6</DataRateBitPerSec>
        </Analysis>

<!--        <Analysis>-->
<!--				<Type>com_gr2sp_data</Type>-->
<!--				<Modulation>BPSK</Modulation>-->
<!--				<BitErrorRate>1e-5</BitErrorRate>-->
<!--				<DataRate>10e6</DataRate>-->
<!--        </Analysis>-->

<!--        <Analysis>-->
<!--            <Type>obs_swath_conical</Type>-->
<!--&lt;!&ndash;            <PolarView>60</PolarView>&ndash;&gt;-->
<!--            <Revisit>True</Revisit>-->
<!--	        <Statistic>Mean</Statistic>-->
<!--	        <SaveOutput>False</SaveOutput>-->
<!--        </Analysis>-->

<!--			<Analysis>-->
<!--				<Type>obs_swath_push_broom</Type>-->
<!--&lt;!&ndash;	            <PolarView>60</PolarView>&ndash;&gt;-->
<!--				<Revisit>True</Revisit>-->
<!--				<Statistic>Mean</Statistic>-->
<!--			    <SaveOutput>True</SaveOutput>-->
<!--			</Analysis>-->


<!--		<Analysis>-->
<!--			<Type>cov_ground_track</Type>-->
<!--			<ConstellationID>1</ConstellationID>-->
<!--&lt;!&ndash;			<SatelliteID>29499</SatelliteID>&ndash;&gt;-->
<!--		</Analysis>-->

<!--        <Analysis>-->
<!--			<Type>cov_satellite_visible</Type>-->
<!--        </Analysis>-->

<!--        <Analysis>-->
<!--          <Type>cov_satellite_visible_grid</Type>-->
<!--          <Statistic>Min</Statistic>-->
<!--        </Analysis>-->

<!--    <Analysis>-->
<!--      <Type>cov_satellite_visible_id</Type>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--    </Analysis>-->

<!--    <Analysis>-->
<!--      <Type>cov_satellite_contour</Type>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--&lt;!&ndash;      <SatelliteID>24307</SatelliteID>&ndash;&gt;-->
<!--      <ElevationMask>10</ElevationMask>-->
<!--    </Analysis>-->

<!--          <Analysis>-->
<!--            <Type>cov_satellite_sky_angles</Type>-->
<!--            <ConstellationID>3</ConstellationID>-->
<!--            <SatelliteID>24307</SatelliteID>-->
<!--          </Analysis>-->

<!--		<Analysis>-->
<!--			<Type>cov_depth_of_coverage</Type>-->
<!--		</Analysis>-->

<!--		<Analysis>-->
<!--			<Type>cov_pass_time</Type>-->
<!--			<ConstellationID>1</ConstellationID>-->
<!--			<Statistic>Max</Statistic>-->
<!--		</Analysis>-->

<!--    <Analysis>-->
<!--      <Type>cov_satellite_highest</Type>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--      <Statistic>Mean</Statistic>-->
<!--    </Analysis>-->

<!--    <Analysis>-->
<!--      <Type>cov_satellite_pvt</Type>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--      <SatelliteID>1</SatelliteID>-->
<!--    </Analysis>-->

	</SimulationManager>
</Scenario>