<?xml version="1.0" encoding="utf-8"?>
<!--Simulation Scenario-->
<Scenario>
    <SpaceSegment>
    <Constellation>
        <ConstellationID>1</ConstellationID>
        <NumOfSatellites>1</NumOfSatellites>
        <NumOfPlanes>1</NumOfPlanes>
        <ConstellationName>METOPA</ConstellationName>
        <ReceiverConstellation>1111</ReceiverConstellation>
        <TLEFileName>input/example_tle_files/metop_a.txt</TLEFileName>
    </Constellation>

	</SpaceSegment>
	<!--Defines the ground stations that should be simulated-->
	<GroundSegment>
      <NumStation>34</NumStation>
      <NetworkName>RIMS</NetworkName>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>1</GroundStationID>
        <GroundStationName>ALB</GroundStationName>
        <Latitude>57.10</Latitude>
        <Longitude>9.90</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>1111</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
	</GroundSegment>
  <!--Defines the users that should be simulated-->
	<UserSegment>
        <User>
            <Type>Grid</Type>
            <LatMin>-90</LatMin>
            <LatMax>90</LatMax>
            <LonMin>-180</LonMin>
            <LonMax>180</LonMax>
            <LatStep>3</LatStep>
            <LonStep>3</LonStep>
            <Height>0.0</Height>
            <ReceiverConstellation>1111</ReceiverConstellation>
            <ElevationMask>5.0</ElevationMask>
        </User>
<!--        <User>-->
<!--            <Type>Static</Type>-->
<!--            <Latitude>50</Latitude>-->
<!--            <Longitude>10</Longitude>-->
<!--            <Height>0</Height>-->
<!--            <ReceiverConstellation>111</ReceiverConstellation>-->
<!--            <ElevationMask>5</ElevationMask>-->
<!--        </User>-->
<!--        <User>-->
<!--            <Type>Spacecraft</Type>-->
<!--            <TLEFileName>input/example_tle_files/Iridium_20100505_one_satellite.txt</TLEFileName>-->
<!--            <ElevationMask>5.0</ElevationMask>-->
<!--            <ReceiverConstellation>111</ReceiverConstellation>-->
<!--        </User>-->


    </UserSegment>

	<!--Defines the simulation parameters-->
	<SimulationManager>
	    <StartDate>2010-05-08 00:00:00</StartDate>
	    <StopDate>2010-05-08 01:10:00</StopDate>
	    <TimeStep>180</TimeStep>
		<IncludeStation2SpaceLinks>False</IncludeStation2SpaceLinks>
		<IncludeUser2SpaceLinks>False</IncludeUser2SpaceLinks>
		<IncludeSpace2SpaceLinks>False</IncludeSpace2SpaceLinks>
        <OrbitsFromPreviousRun>False</OrbitsFromPreviousRun>
        <OrbitPropagator>Keplerian</OrbitPropagator>

        <Analysis>
            <Type>obs_swath_conical</Type>
            <ObsZenithAngle>50</ObsZenithAngle>
            <ObsInclinationAngle>44.8</ObsInclinationAngle>
        </Analysis>


<!--		<Analysis>-->
<!--			<Type>cov_ground_track</Type>-->
<!--			<ConstellationID>1</ConstellationID>-->
<!--			<SatelliteID>1</SatelliteID>-->
<!--		</Analysis>-->

<!--        <Analysis>-->
<!--			<Type>cov_satellite_visible</Type>-->
<!--        </Analysis>-->

<!--        <Analysis>-->
<!--          <Type>cov_satellite_visible_grid</Type>-->
<!--          <Statistic>Min</Statistic>-->
<!--        </Analysis>-->

<!--    <Analysis>-->
<!--      <Type>cov_satellite_visible_id</Type>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--    </Analysis>-->

<!--    <Analysis>-->
<!--      <Type>cov_satellite_contour</Type>-->
<!--      <ConstellationID>3</ConstellationID>-->
<!--      <SatelliteID>24307</SatelliteID>-->
<!--      <ElevationMask>10</ElevationMask>-->
<!--    </Analysis>-->

<!--          <Analysis>-->
<!--            <Type>cov_satellite_sky_angles</Type>-->
<!--            <ConstellationID>3</ConstellationID>-->
<!--            <SatelliteID>24307</SatelliteID>-->
<!--          </Analysis>-->

<!--		<Analysis>-->
<!--			<Type>cov_depth_of_coverage</Type>-->
<!--		</Analysis>-->

<!--		<Analysis>-->
<!--			<Type>cov_pass_time</Type>-->
<!--			<ConstellationID>1</ConstellationID>-->
<!--			<Statistic>Max</Statistic>-->
<!--		</Analysis>-->

<!--    <Analysis>-->
<!--      <Type>cov_satellite_highest</Type>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--      <Statistic>Mean</Statistic>-->
<!--    </Analysis>-->

<!--    <Analysis>-->
<!--      <Type>cov_satellite_pvt</Type>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--      <SatelliteID>1</SatelliteID>-->
<!--    </Analysis>-->

	</SimulationManager>
</Scenario>