<?xml version="1.0" encoding="utf-8"?>
<!--Simulation Scenario-->
<Scenario>
    <SpaceSegment>
    <!--Defines the constellations and satellites that should be simulated-->
<!--    <Constellation>-->
<!--      <NumOfPlanes>6</NumOfPlanes>-->
<!--      <NumOfSatellites>24</NumOfSatellites>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--      <ConstellationName>GPS</ConstellationName>-->
<!--      <ReceiverConstellation>111</ReceiverConstellation>-->
<!--      <Satellite>-->
<!--        <SatelliteID>1</SatelliteID>-->
<!--        <Plane>1</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>272.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>11.676</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>2</SatelliteID>-->
<!--        <Plane>1</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>272.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>41.806</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>3</SatelliteID>-->
<!--        <Plane>1</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>272.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>161.786</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>4</SatelliteID>-->
<!--        <Plane>1</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>272.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>268.126</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>5</SatelliteID>-->
<!--        <Plane>2</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>332.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>80.956</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>6</SatelliteID>-->
<!--        <Plane>2</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>332.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>173.336</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>7</SatelliteID>-->
<!--        <Plane>2</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>332.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>204.376</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>8</SatelliteID>-->
<!--        <Plane>2</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>332.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>309.976</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>9</SatelliteID>-->
<!--        <Plane>3</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>32.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>111.876</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>10</SatelliteID>-->
<!--        <Plane>3</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>32.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>241.556</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>11</SatelliteID>-->
<!--        <Plane>3</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>32.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>339.666</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>12</SatelliteID>-->
<!--        <Plane>3</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>32.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>11.796</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>13</SatelliteID>-->
<!--        <Plane>4</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>92.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>135.226</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>14</SatelliteID>-->
<!--        <Plane>4</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>92.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>167.356</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>15</SatelliteID>-->
<!--        <Plane>4</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>92.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>265.446</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>16</SatelliteID>-->
<!--        <Plane>4</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>92.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>35.156</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>17</SatelliteID>-->
<!--        <Plane>5</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>152.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>197.046</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>18</SatelliteID>-->
<!--        <Plane>5</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>152.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>302.596</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>19</SatelliteID>-->
<!--        <Plane>5</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>152.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>333.686</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>20</SatelliteID>-->
<!--        <Plane>5</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>152.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>66.066</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>21</SatelliteID>-->
<!--        <Plane>6</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>212.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>238.886</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>22</SatelliteID>-->
<!--        <Plane>6</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>212.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>345.226</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>23</SatelliteID>-->
<!--        <Plane>6</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>212.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>105.206</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>24</SatelliteID>-->
<!--        <Plane>6</Plane>-->
<!--        <EpochMJD>49169</EpochMJD>-->
<!--        <SemiMajorAxis>26561750</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>55.00</Inclination>-->
<!--        <RAAN>212.847</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>135.346</MeanAnomaly>-->
<!--      </Satellite>-->
<!--    </Constellation>-->
<!--    <Constellation>-->
<!--      <NumOfPlanes>3</NumOfPlanes>-->
<!--      <NumOfSatellites>27</NumOfSatellites>-->
<!--      <ConstellationID>2</ConstellationID>-->
<!--      <ConstellationName>Galileo</ConstellationName>-->
<!--      <ReceiverConstellation>111</ReceiverConstellation>-->
<!--      <Satellite>-->
<!--        <SatelliteID>1</SatelliteID>-->
<!--        <Plane>1</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>0</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>0.00</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>2</SatelliteID>-->
<!--        <Plane>1</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>0</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>40.00</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>3</SatelliteID>-->
<!--        <Plane>1</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>0</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>80.00</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>4</SatelliteID>-->
<!--        <Plane>1</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>0</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>120.00</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>5</SatelliteID>-->
<!--        <Plane>1</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>0</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>160.00</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>6</SatelliteID>-->
<!--        <Plane>1</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>0</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>200.00</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>7</SatelliteID>-->
<!--        <Plane>1</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>0</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>240.00</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>8</SatelliteID>-->
<!--        <Plane>1</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>0</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>280.00</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>9</SatelliteID>-->
<!--        <Plane>1</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>0</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>320.00</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>10</SatelliteID>-->
<!--        <Plane>2</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>120.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>13.33</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>11</SatelliteID>-->
<!--        <Plane>2</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>120.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>53.33</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>12</SatelliteID>-->
<!--        <Plane>2</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>120.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>93.33</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>13</SatelliteID>-->
<!--        <Plane>2</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>120.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>133.33</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>14</SatelliteID>-->
<!--        <Plane>2</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>120.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>173.33</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>15</SatelliteID>-->
<!--        <Plane>2</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>120.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>213.33</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>16</SatelliteID>-->
<!--        <Plane>2</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>120.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>253.33</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>17</SatelliteID>-->
<!--        <Plane>2</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>120.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>293.33</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>18</SatelliteID>-->
<!--        <Plane>2</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>120.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>333.33</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>19</SatelliteID>-->
<!--        <Plane>3</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>240.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>26.66</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>20</SatelliteID>-->
<!--        <Plane>3</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>240.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>66.66</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>21</SatelliteID>-->
<!--        <Plane>3</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>240.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>106.66</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>22</SatelliteID>-->
<!--        <Plane>3</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>240.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>146.66</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>23</SatelliteID>-->
<!--        <Plane>3</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>240.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>186.66</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>24</SatelliteID>-->
<!--        <Plane>3</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>240.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>226.66</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>25</SatelliteID>-->
<!--        <Plane>3</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>240.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>266.66</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>26</SatelliteID>-->
<!--        <Plane>3</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>240.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>306.66</MeanAnomaly>-->
<!--      </Satellite>-->
<!--      <Satellite>-->
<!--        <SatelliteID>27</SatelliteID>-->
<!--        <Plane>3</Plane>-->
<!--        <EpochMJD>54465.5</EpochMJD>-->
<!--        <SemiMajorAxis>29600318</SemiMajorAxis>-->
<!--        <Eccentricity>0.00</Eccentricity>-->
<!--        <Inclination>56.00</Inclination>-->
<!--        <RAAN>240.00</RAAN>-->
<!--        <ArgOfPerigee>0.00</ArgOfPerigee>-->
<!--        <MeanAnomaly>346.66</MeanAnomaly>-->
<!--      </Satellite>-->
<!--    </Constellation>-->
    <Constellation>
        <ConstellationID>3</ConstellationID>
        <NumOfSatellites>2</NumOfSatellites>
        <NumOfPlanes>2</NumOfPlanes>
        <ConstellationName>EGNOS</ConstellationName>
        <ReceiverConstellation>111</ReceiverConstellation>
        <TLEFileName>input/example_tle_files/egnos_20100330.txt</TLEFileName>
    </Constellation>

	</SpaceSegment>
	<!--Defines the ground stations that should be simulated-->
	<GroundSegment>
      <NumStation>34</NumStation>
      <NetworkName>RIMS</NetworkName>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>1</GroundStationID>
        <GroundStationName>ALB</GroundStationName>
        <Latitude>57.10</Latitude>
        <Longitude>9.90</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>2</GroundStationID>
        <GroundStationName>ACR</GroundStationName>
        <Latitude>38.51</Latitude>
        <Longitude>-28.62</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>3</GroundStationID>
        <GroundStationName>BRN</GroundStationName>
        <Latitude>52.32</Latitude>
        <Longitude>13.25</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>4</GroundStationID>
        <GroundStationName>CNR</GroundStationName>
        <Latitude>27.95</Latitude>
        <Longitude>-15.38</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>5</GroundStationID>
        <GroundStationName>CTN</GroundStationName>
        <Latitude>37.47</Latitude>
        <Longitude>15.07</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>6</GroundStationID>
        <GroundStationName>CRK</GroundStationName>
        <Latitude>51.85</Latitude>
        <Longitude>-8.50</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>7</GroundStationID>
        <GroundStationName>WRS</GroundStationName>
        <Latitude>52.22</Latitude>
        <Longitude>21.07</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>8</GroundStationID>
        <GroundStationName>DJA</GroundStationName>
        <Latitude>33.87</Latitude>
        <Longitude>10.77</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>9</GroundStationID>
        <GroundStationName>EGI</GroundStationName>
        <Latitude>65.28</Latitude>
        <Longitude>-14.40</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>10</GroundStationID>
        <GroundStationName>GLG</GroundStationName>
        <Latitude>55.70</Latitude>
        <Longitude>-4.10</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>11</GroundStationID>
        <GroundStationName>HBK</GroundStationName>
        <Latitude>-25.88</Latitude>
        <Longitude>27.70</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>12</GroundStationID>
        <GroundStationName>GOL</GroundStationName>
        <Latitude>39.63</Latitude>
        <Longitude>32.80</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>13</GroundStationID>
        <GroundStationName>KOU</GroundStationName>
        <Latitude>5.17</Latitude>
        <Longitude>-52.68</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>14</GroundStationID>
        <GroundStationName>LSB</GroundStationName>
        <Latitude>38.78</Latitude>
        <Longitude>-9.13</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>15</GroundStationID>
        <GroundStationName>SWA</GroundStationName>
        <Latitude>50.88</Latitude>
        <Longitude>-1.28</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>16</GroundStationID>
        <GroundStationName>MAD</GroundStationName>
        <Latitude>32.75</Latitude>
        <Longitude>-16.70</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>17</GroundStationID>
        <GroundStationName>MLG</GroundStationName>
        <Latitude>36.68</Latitude>
        <Longitude>-4.52</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>18</GroundStationID>
        <GroundStationName>KIR</GroundStationName>
        <Latitude>69.68</Latitude>
        <Longitude>29.92</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>19</GroundStationID>
        <GroundStationName>PDM</GroundStationName>
        <Latitude>39.57</Latitude>
        <Longitude>2.73</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>20</GroundStationID>
        <GroundStationName>MON</GroundStationName>
        <Latitude>46.07</Latitude>
        <Longitude>-64.78</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>21</GroundStationID>
        <GroundStationName>RKK</GroundStationName>
        <Latitude>64.13</Latitude>
        <Longitude>-21.93</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>22</GroundStationID>
        <GroundStationName>ROM</GroundStationName>
        <Latitude>41.80</Latitude>
        <Longitude>12.58</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>23</GroundStationID>
        <GroundStationName>LAP</GroundStationName>
        <Latitude>61.53</Latitude>
        <Longitude>27.55</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>24</GroundStationID>
        <GroundStationName>SDC</GroundStationName>
        <Latitude>42.92</Latitude>
        <Longitude>-8.42</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>25</GroundStationID>
        <GroundStationName>SOF</GroundStationName>
        <Latitude>42.80</Latitude>
        <Longitude>23.42</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>26</GroundStationID>
        <GroundStationName>NKC</GroundStationName>
        <Latitude>18.07</Latitude>
        <Longitude>-15.95</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>27</GroundStationID>
        <GroundStationName>GVL</GroundStationName>
        <Latitude>60.67</Latitude>
        <Longitude>17.13</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>28</GroundStationID>
        <GroundStationName>TLS</GroundStationName>
        <Latitude>43.42</Latitude>
        <Longitude>1.50</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>29</GroundStationID>
        <GroundStationName>TRD</GroundStationName>
        <Latitude>63.45</Latitude>
        <Longitude>10.90</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>30</GroundStationID>
        <GroundStationName>TRO</GroundStationName>
        <Latitude>69.67</Latitude>
        <Longitude>18.95</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>31</GroundStationID>
        <GroundStationName>ZUR</GroundStationName>
        <Latitude>47.45</Latitude>
        <Longitude>8.57</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>32</GroundStationID>
        <GroundStationName>PAR</GroundStationName>
        <Latitude>48.83</Latitude>
        <Longitude>2.33</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>33</GroundStationID>
        <GroundStationName>JAN</GroundStationName>
        <Latitude>70.92</Latitude>
        <Longitude>-8.72</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>RIMS</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>34</GroundStationID>
        <GroundStationName>SVA</GroundStationName>
        <Latitude>78.12</Latitude>
        <Longitude>15.4</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>110</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
	</GroundSegment>
  <!--Defines the users that should be simulated-->
	<UserSegment>
<!--	    <Type>Grid</Type>-->
<!--	    <LatMin>-90</LatMin>-->
<!--	    <LatMax>90</LatMax>-->
<!--	    <LonMin>-180</LonMin>-->
<!--	    <LonMax>180</LonMax>-->
<!--	    <LatStep>10</LatStep>-->
<!--	    <LonStep>10</LonStep>-->
<!--	    <Height>0.0</Height>-->
<!--	    <ReceiverConstellation>111</ReceiverConstellation>-->
<!--	    <ElevationMask>5.0</ElevationMask>-->
        <User>
            <Type>Static</Type>
            <Latitude>50</Latitude>
            <Longitude>10</Longitude>
            <Height>0</Height>
            <ReceiverConstellation>111</ReceiverConstellation>
            <ElevationMask>5</ElevationMask>
        </User>
        <User>
            <Type>Static</Type>
            <Latitude>50</Latitude>
            <Longitude>50</Longitude>
            <Height>0</Height>
            <ReceiverConstellation>111</ReceiverConstellation>
            <ElevationMask>5</ElevationMask>
        </User>
        <User>
            <Type>Spacecraft</Type>
            <TLEFileName>input/example_tle_files/Iridium_20100505_one_satellite.txt</TLEFileName>
            <ElevationMask>5.0</ElevationMask>
            <ReceiverConstellation>111</ReceiverConstellation>
        </User>


    </UserSegment>

	<!--Defines the simulation parameters-->
	<SimulationManager>
	    <StartDate>2010-05-08 00:00:00</StartDate>
	    <StopDate>2010-05-08 12:00:00</StopDate>
	    <TimeStep>100</TimeStep>
		<IncludeStation2SpaceLinks>False</IncludeStation2SpaceLinks>
		<IncludeUser2SpaceLinks>True</IncludeUser2SpaceLinks>
		<IncludeSpace2SpaceLinks>False</IncludeSpace2SpaceLinks>
        <OrbitsFromPreviousRun>False</OrbitsFromPreviousRun>
        <OrbitPropagator>SGP4</OrbitPropagator>

<!--		<Analysis>-->
<!--			<Type>cov_ground_track</Type>-->
<!--			<ConstellationID>1</ConstellationID>-->
<!--			<SatelliteID>1</SatelliteID>-->
<!--		</Analysis>-->

        <Analysis>
			<Type>cov_satellite_visible</Type>
        </Analysis>

<!--        <Analysis>-->
<!--          <Type>cov_satellite_visible_grid</Type>-->
<!--          <Statistic>Min</Statistic>-->
<!--        </Analysis>-->

<!--    <Analysis>-->
<!--      <Type>cov_satellite_visible_id</Type>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--    </Analysis>-->

<!--    <Analysis>-->
<!--      <Type>cov_satellite_contour</Type>-->
<!--      <ConstellationID>3</ConstellationID>-->
<!--      <SatelliteID>24307</SatelliteID>-->
<!--      <ElevationMask>10</ElevationMask>-->
<!--    </Analysis>-->

<!--          <Analysis>-->
<!--            <Type>cov_satellite_sky_angles</Type>-->
<!--            <ConstellationID>3</ConstellationID>-->
<!--            <SatelliteID>24307</SatelliteID>-->
<!--          </Analysis>-->

<!--		<Analysis>-->
<!--			<Type>cov_depth_of_coverage</Type>-->
<!--		</Analysis>-->

<!--		<Analysis>-->
<!--			<Type>cov_pass_time</Type>-->
<!--			<ConstellationID>1</ConstellationID>-->
<!--			<Statistic>Max</Statistic>-->
<!--		</Analysis>-->

<!--    <Analysis>-->
<!--      <Type>cov_satellite_highest</Type>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--      <Statistic>Mean</Statistic>-->
<!--    </Analysis>-->

<!--    <Analysis>-->
<!--      <Type>cov_satellite_pvt</Type>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--      <SatelliteID>1</SatelliteID>-->
<!--    </Analysis>-->

	</SimulationManager>
</Scenario>