<?xml version="1.0" encoding="utf-8"?>
<!--Simulation Scenario-->
<Scenario>
  <SpaceSegment>
    <!--Defines the constellations and satellites that should be simulated-->
    <Constellation>
      <NumOfPlanes>3</NumOfPlanes>
      <NumOfSatellites>30</NumOfSatellites>
      <ConstellationID>1</ConstellationID>
      <ConstellationName>Galileo</ConstellationName>
      <Satellite>
        <SatelliteID>1</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>0</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>0</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>2</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>0</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>36</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>3</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>0</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>72</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>4</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>0</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>108</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>5</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>0</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>144</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>6</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>0</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>180</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>7</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>0</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>216</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>8</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>0</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>252.00</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>9</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>0</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>288.00</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>10</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>0</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>324.00</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>11</SatelliteID>
        <Plane>2</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>120.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>12</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>12</SatelliteID>
        <Plane>2</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>120.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>48</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>13</SatelliteID>
        <Plane>2</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>120.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>84</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>14</SatelliteID>
        <Plane>2</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>120.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>120</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>15</SatelliteID>
        <Plane>2</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>120.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>156</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>16</SatelliteID>
        <Plane>2</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>120.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>192</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>17</SatelliteID>
        <Plane>2</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>120.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>228</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>18</SatelliteID>
        <Plane>2</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>120.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>264</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>19</SatelliteID>
        <Plane>2</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>120.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>300</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>20</SatelliteID>
        <Plane>2</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>120.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>336</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>21</SatelliteID>
        <Plane>3</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>240.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>24</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>22</SatelliteID>
        <Plane>3</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>240.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>60</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>23</SatelliteID>
        <Plane>3</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>240.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>96</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>24</SatelliteID>
        <Plane>3</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>240.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>132</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>25</SatelliteID>
        <Plane>3</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>240.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>168</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>26</SatelliteID>
        <Plane>3</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>240.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>204</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>27</SatelliteID>
        <Plane>3</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>240.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>240</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>28</SatelliteID>
        <Plane>3</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>240.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>276</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>29</SatelliteID>
        <Plane>3</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>240.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>312</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>30</SatelliteID>
        <Plane>3</Plane>
        <EpochMJD>54465.5</EpochMJD>
        <SemiMajorAxis>29600318</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>56.00</Inclination>
        <RAAN>240.00</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>348</MeanAnomaly>
      </Satellite>
    </Constellation>
<!--       <Constellation>-->
<!--      <NumOfPlanes>3</NumOfPlanes>-->
<!--      <NumOfSatellites>30</NumOfSatellites>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--      <ConstellationName>OrbComm</ConstellationName>-->
<!--      <TLEFileName>tle.txt</TLEFileName>-->
<!--       </Constellation>-->
  </SpaceSegment>
  <!--Defines the ground stations that should be simulated-->
  <GroundSegment>
    <Network>
      <NumStation>2</NumStation>
      <NetworkName>GCC</NetworkName>
      <GroundStation>
        <Type>GCC</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>1</GroundStationID>
        <GroundStationName>OBE</GroundStationName>
        <Latitude>48.0744</Latitude>
        <Longitude>11.262</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>1</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
      <GroundStation>
        <Type>GCC</Type>
        <ConstellationID>1</ConstellationID>
        <GroundStationID>2</GroundStationID>
        <GroundStationName>FUC</GroundStationName>
        <Latitude>-41.995</Latitude>
        <Longitude>-130.547</Longitude>
        <Height>0</Height>
        <ReceiverConstellation>1</ReceiverConstellation>
        <ElevationMask>5</ElevationMask>
      </GroundStation>
    </Network>
  </GroundSegment>
  <!--Defines the users that should be simulated-->
  <UserSegment>
    <Type>Grid</Type>
    <LatMin>-90</LatMin>
    <LatMax>90</LatMax>
    <LonMin>-180</LonMin>
    <LonMax>180</LonMax>
    <LatStep>10</LatStep>
    <LonStep>10</LonStep>
    <Height>0</Height>
    <ReceiverConstellation>111</ReceiverConstellation>
    <ElevationMask>5</ElevationMask>

<!--    <Type>Static</Type>-->
<!--    <Latitude>50</Latitude>-->
<!--    <Longitude>5</Longitude>-->
<!--    <Height>0</Height>-->
<!--    <ReceiverConstellation>111</ReceiverConstellation>-->
<!--    <ElevationMask>5</ElevationMask>-->

</UserSegment>
  <!--Defines the simulation parameters-->
  <SimulationManager>
    <StartDate>2013-05-08 00:00:00</StartDate>
    <StopDate>2013-05-09 00:00:00</StopDate>
    <TimeStep>3600</TimeStep>
    <HPOP>False</HPOP>
<!--      <Analysis>-->
<!--          <Type>0</Type>-->
<!--          <ConstellationID>1</ConstellationID>-->
<!--          <SatelliteID>1</SatelliteID>-->
<!--        </Analysis>-->
<!--    -->
<!--        <Analysis>-->
<!--          <Type>1</Type>-->
<!--          <LatitudeRequested>50</LatitudeRequested>-->
<!--          <LongitudeRequested>10</LongitudeRequested>-->
<!--        </Analysis>-->
<!--    -->
<!--        <Analysis>-->
<!--          <Type>2</Type>-->
<!--          <Statistic>Min</Statistic>-->
<!--        </Analysis>-->

<!--    <Analysis>-->
<!--      <Type>3</Type>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--      <LatitudeRequested>50</LatitudeRequested>-->
<!--      <LongitudeRequested>10</LongitudeRequested>-->
<!--    </Analysis>-->

<!--    <Analysis>-->
<!--      <Type>4</Type>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--      <SatelliteID>1</SatelliteID>-->
<!--      <ElevationMask>20</ElevationMask>-->
<!--    </Analysis>-->

<!--    <Analysis>-->
<!--      <Type>5</Type>-->
<!--      <ConstellationID>3</ConstellationID>-->
<!--      <SatelliteID>24307</SatelliteID>-->
<!--      <LatitudeRequested>50</LatitudeRequested>-->
<!--      <LongitudeRequested>10</LongitudeRequested>-->
<!--    </Analysis>-->

<!--        <Analysis>-->
<!--          <Type>6</Type>-->
<!--        </Analysis>-->
<!--    <Analysis>-->
<!--      <Type>7</Type>-->
<!--      <ConstellationID>1</ConstellationID>-->
<!--      <Statistic>Mean</Statistic>-->
<!--    </Analysis>-->

    <Analysis>
      <Type>8</Type>
      <ConstellationID>1</ConstellationID>
      <Statistic>Mean</Statistic>
    </Analysis>

  </SimulationManager>
</Scenario>